.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
    font-weight: bold;
}

.blog-post {
    margin-bottom: 4rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  font-family: sofia;
  padding-bottom: 10px;
}

.blog-photo-caption {
  font-style: italic;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.5em;
  color: #9C9C9C;
  text-align: center;
}

.blog-photo {
  max-width: 500px;
  height: 375px;
}

.vertical-photo {
  padding: 0px 30px 40px 0px;
  width: 500px;
}

#main-image {
  width: 100%;
  box-shadow: 5px 10px 18px #888888;
  height: 740px;
}

#location-images {
  width: 284px;
  height: 213px;
}

.location-polaroids {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.rotate_right {
  float: right;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}

.rotate_left {
  float: right;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

#caption {
  text-align: center;
  font-family: Permanent Marker;
  font-size: 25px;
}
