$bodyFont: Merriweather;
$bodyColor: #B4B4B4;
$heading-oneFont: Arial;
$heading-oneFontSize: 18px;
$heading-oneFontWeight: bold;
$heading-oneColor: #2B7FCA;

.page-wrapper {
  margin: 0px 100px;
  font-color: $bodyColor;
  font-size: 18px;
  border: 2px solid gold;
  border-radius: 19px;
  background-color: beige;
}

.row-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#resume-photo {
  max-width: 100%;
  height: auto;
  margin-left: 7%;
  padding: 20px;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding-left: 20px;
}

.second-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-right: 20px;
}

#resume-header {
  font-size: 54px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 30px;
}

#subheader {
  font-size: 18px;
  margin-bottom: 100px;
}

#contact {
  margin-bottom: 50px;
  padding: 50px 20px 20px 0px;
}

#heading-one {
  font-family: $heading-oneFont;
  font-size: $heading-oneFontSize;
  font-weight: $heading-oneFontWeight;
  color: $heading-oneColor;
  margin-top: 50px;
}

#heading-two {
font-size: 18px;
}

#heading-three {
font-size: 16px;
}

#phone-number {
font-weight: bold;
margin-bottom: -15px;
}

#email {
margin-bottom: -15px;
}

#linkedin {
  font-family: Arial;
}
