.footer {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 10px;
}

.ul-footer {
  list-style-type: none;
  display: inline-block;
}

.li-footer {
  padding: 9px;
  float: left;
}

.li-footer:hover {
  opacity: 0.7;
}
