.bg{
  background-image: url("./new_zealand.jpg");
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

  .content {
    padding-left: 70px;
    padding-top: 50px;
  }

  .name {
   color: black;
   font-size: 68px;
   margin: 10px 0px 2px;
   font-family: sofia;
 }

 .line {
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,1.0)), color-stop(100%,hsla(0,0%,0%,0)));
   height: 2px;
   width: 435px;
   padding-left: 55px;
 }

p {
  font-family: Rajdhani;
  font-size: 30px;
  padding-left: 120px;
  text-align: left
}
